
/*FOOTER-WITH-GREY-BACKGROUND*/

.fooetr-bg {
    background-color: rgb(93, 93, 93);
    padding: 20px 20px 50px 20px;
  }
  .footer-content {
    justify-content: space-between;
    height: auto;
  }
  
  .f-background {
    background-color: black;
    height: auto;
    padding: 10px;
  }
  .copy-rt {
    justify-content: space-between;
    align-items: center;
  }
  
  #f-logo {
    width: 25%;
    align-self: center;
  }
  
  #f-logo img {
    width: 100%;
  }
  .footer-list {
    gap: 20px;
    margin: 0;
  }
  
  .address {
    font-style: unset;
  }
  
  
  /*FOOTER-WITH-GREY-BACKGROUND*/
  .f-list-items a,
  .copy-rt-list a {
    cursor: pointer;
    line-height: 3;
  }
  
  .f-list-items a:hover {
    color: white;
  }
  
  .copy-rt-list a:hover {
    color: rgb(241, 114, 46);
    transition: all ease-out 0.4s;
  }
  
  .f-icon {
    color: white;
    padding: 0 5px;
  }
  