/*-----RESPOSIVE HEADER-----*/
@media (min-width: 801px) and (max-width: 1050px) {
  .menu .menu-item {
    padding: 5px;
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  .nav-bar {
    justify-content: space-around;
  }

  .nav-bar #logo {
    width: 20%;
  }
  .menu .menu-item {
    padding: 4px;
    margin: 0 2px;
  }
}

@media (max-width: 600px) {
  .menu .menu-item {
    padding: 5px;
    margin: 0 2px;
  }
}

@media (min-width: 300px) and (max-width: 450px){
  .header{
    padding: 5px;
  }
  .nav-bar {
      height: 30px;
      justify-content: center;
    }
    .menu .menu-item {
      padding: 3px;
      margin: 0 2px;
    }
    .nav-bar #logo {
      width: 40px;
    }
  
}

/*-----INDEX PAGE-----*/
@media (min-width: 1050px) and (max-width: 1400px) {
  .hero-content {
    padding-left: 8%;
  }
}

@media (min-width: 801px) and (max-width: 1050px) {
  /*HERO SECTION*/
  .background {
    height: 70vh;
  }

  .hero-content {
    padding-left: 8%;
  }

  .hero-content a .entertain {
    margin-bottom: 20px;
  }

  /*SUBCRIPTION*/
  .offer .box {
    padding: 10px;
  }

  .price h3 {
    margin: 0;
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  /*HERO SECTION*/
  .background {
    height: 50vh;
    padding: 10px;
  }
  .hero-content {
    padding-left: 8%;
  }
  .hero-content a h1 {
    margin: 0;
    line-height: 1.5;
  }

  .hero-content a .entertain {
    margin-bottom: 15px;
  }

  .view-btn {
    height: 30px;
    width: 100px;
  }

  /*SUBCRIPTION*/
  .offer .box {
    width: 23%;
    padding: 15px;
  }

  .offer .box .price {
    padding: 5px;
  }

  .offer .box .price h3 {
    margin-bottom: 0;
  }

  .offer .box .icon {
    font-size: 1.5em;
  }
}

@media (max-width: 600px) {
  /*HERO SECTION*/

  .background {
    background-size: cover;
    height: 50vh;
  }
  .hero-content a h1 {
    margin: 0;
    line-height: 1.3;
  }

  .hero-content a .entertain {
    margin-bottom: 15px;
  }
  .view-btn {
    height: 35px;
    width: 100px;
  }
  .hero-content {
    padding-left: 20px;
  }

  /*SUBCRIPTION*/
  .offer {
    padding: 10px;
    margin: 30px 0;
    flex-wrap: wrap;
  }
  .offer .box .price {
    padding: 10px;
  }

  .price h3 {
    margin-top: 0;
  }
  .offer .box {
    width: 35%;
    padding: 10px;
  }

  .offer .box .icon {
    font-size: 1.5em;
  }
}

@media (min-width: 300px) and (max-width: 450px) { 
.background {
    background-size: cover;
    height: 40vh;
  }

/*SUBSCRIPTION*/
.offer .box {
    width: 50%;
    padding: 25px 10px;
  }
/*FOOTER*/


}


@media (max-width: 299px) {
  .font-16,
  .font-18,
  .font-28 {
    font-size: 0.4rem;
  }

  h1 {
    font-size: 1em;
  }
  h2{
    font-size: 0.6em;
  }
  h3{
    font-size: 0.5em;
  }


  .menu .menu-item {
    padding: 0;
    margin: 0;
}
  .offer {
    flex-direction: column;
  }

  .box {
    width: 80%;

  }
} */
